<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v16.0.1/dist/font-face.css" type="text/css"/> -->

<!-- put everthing in center for any display -->
<div style="text-align:center">
<!-- <div style="display:block" direction=rtl align=right><br><br> -->
        <img width=130 align=center src="https://i.ibb.co/yXKQmtZ/logo1.png" style="margin:0;" />
        <br><br>
        <h1 align=center style="font-family: vazir; color:#00999c; font-size: 1.5em; font-weight: bold;">دانشگاه تهران</h1>
        <!-- <h1 align=center style="font-family: vazir; color:#00999c; font-size: 1.5em; font-weight: bold;">دانشکده علوم و فنون نوین</h1><br> -->
        <h1 align=center style="font-family: vazir; color:#00999c; font-size: 1.5em; font-weight: bold;">یادگیری ماشین</h1>
        <!-- <h2 align=center style="font-family: vazir; color:#00999c; font-size: 1.5em; font-weight: bold;">پاییز ۱۴۰۱</h2> -->
</div>

---

<div style="display:block" direction=rtl align=right>
    <h1 dir=rtl style="direction:rtl; text-align:right; line-height:200%; font-family:vazir; font-size:medium; color:#00999c; font-size:1.5em; font-weight: bold;">Numpy - سوال ۱۱</h1>
</div>

<div style="display:block" direction=rtl align=right>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    در این سوال به پیدا کردن گل‌های مشابه می‌پردازیم.
    </p>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    جهت بارگذاری دادگان سلول زیر را اجرا کنید.
    </p>
</div>

In [ ]:
irises = np.load('./data/iris/irises.npy') # مجموعه گل‌های موجود
new_irises = np.load('./data/iris/new_irises.npy') # مجموعه گل‌های جدید

In [ ]:
def calc_two_loops(new_points, points):
    # TODO
    pass

In [ ]:
def calc_one_loop(new_points, points):
    # TODO
    pass

In [ ]:
def calc_no_loop(new_points, points):
    # TODO
    pass

<div style="display:block" direction=rtl align=right>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    محاسبه‌ی آرایه فاصله‌ها به سه روش فوق، نباید تفاوتی در نتیجه حاصل کند.    
از این رو کد زیر را اجرا کنید تا از برابر بودن خروجی سه تابع فوق اطمینان حاصل کنید.
    </p>
</div>

In [ ]:
distance_2_loop = calc_two_loops(new_irises, irises)
distance_1_loop = calc_one_loop(new_irises, irises)
distance_no_loop = calc_no_loop(new_irises, irises)

if np.allclose(distance_no_loop, distance_1_loop, 1e-5) and np.allclose(distance_no_loop, distance_2_loop, 1e-5): 
    print('Success!')
else:
    print('Error!')

<div style="display:block" direction=rtl align=right>
    <h1 dir=rtl style="direction:rtl; text-align:right; line-height:200%; font-family:vazir; font-size:medium; color:#00999c; font-size:1.5em; font-weight: bold;">Numpy - سوال ۱۲</h1>
</div>

<div style="display:block" direction=rtl align=right>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    این سوال مشابه سوال قبل است. با این تفاوت که این بار قصد داریم با دادگان متفاوتی کار کنیم.
    </p>
</div>

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/patents.csv')
# df.head()

patent_number = df['publication_number'].to_numpy()
patent_features = df['patent_embedding'].to_numpy()
temp = []
for i in range(patent_features.size):
    s = str(patent_features[i]) 
    s1 = s.replace(r'\n', '')
    temp.append(
        np.array(s.split()[1:-1], dtype='float')[:16]
    )

patent_features = np.stack(temp)
patent_category = df['category']

---

<div style="display:block" direction=rtl>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    <span style="font-family: vazir; color:#00999c; font-size:1.5em;">در این بخش باید از کتابخانه پانداس استفاده کنید. این کتابخانه برای محاسبات و پردازش داده‌ها در پایتون استفاده می‌شود. برای اطلاعات بیشتر در مورد پاندا می‌توانید به <a href="https://pandas.pydata.org/">اینجا</a> مراجعه کنید.</span>
</div>

In [ ]:
import pandas as pd

<div style="display:block" direction=rtl align=right>
    <h1 style="font-family: vazir; color:#00999c; font-size:1.5em; font-weight: bold;">Pandas - سوال ۱ </h1>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    هدف از این تمرین آشنایی با پاندا است. در زیر ستون‌های مجموعه دادگان توضیح داده شده است.
    </p>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<table dir=rtl align = center>
    <thead>
        <tr>
            <td>ستون</td>
            <td>توضیح</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td>اسم غذاهای هندی</td>
        </tr>
        <tr>
            <td>ingredients</td>
            <td>مواد تکشیل دهنده یک غذا</td>
        </tr>
        <tr>
            <td>diet</td>
            <td>دارای دو مقدار vegetarian , non vegetarian است که نشان می‌دهد آیا غذا مناسب گیاه‌خواری هست یا نه.</td>
        </tr>
        <tr>
            <td>prep_time</td>
            <td>زمانی که طول می‌کشد تا غذا آماده شود. این زمان شامل زمان پخت نمی‌شود. مثلا زمان پوست کندن یا شستن مواد اولیه در این ستون لحاظ شده اند.</td>
        </tr>
        <tr>
            <td>cook_time</td>
            <td>زمان پخت یک غذا</td>
        </tr>
        <tr>
            <td>flavor_profile</td>
            <td>مزه غذا را نشان می‌دهد. دارای ۴ مقدار spicy برای غذاهای تند، sweet برای غذاهای شیرین، bitter برای غذاهای تلخ و sour برای غذاهای ترش است.</td>
        </tr>
        <tr>
            <td>course</td>
            <td>وعده اصلی، میان‌وعده، دسر یا پیش‌غذا بودن یک غذا را نشان می‌دهد.</td>
        </tr>
        <tr>
            <td>state</td>
            <td>ایالتی که زادگاه غذاست یا لااقل این غذا در آن‌جا خیلی معروف است.</td>
        </tr>
        <tr>
            <td>region</td>
            <td>منطقه‌ای که state (ایالت) در آن واقع شده است.</td>
        </tr>
    </tbody>
</table>

</div>

In [ ]:
# TODO

<div style="display:block" direction=rtl align=right>
    <h1 dir=rtl style="direction:rtl; text-align:right; line-height:200%; font-family:vazir; font-size:medium; color:#00999c; font-size:1.5em; font-weight: bold;">Pandas - سوال ۲</h1>
</div>

<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
	<font face="vazir" size=4>
        برای بارگیری دیتافریم از حافظه تنها کافیست سلول زیر را اجرا کنید!
        <br>
        دیتافریم شبکه‌ی اجتماعی گرام، شامل ستون‌های زیر است:
    </font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<table dir=rtl align = center>
<tr>
<th><font face="vazir" size=3>نام ستون</font></th>
<th><font face="vazir" size=3>توضیح</font></th>
</tr>
<tr>
<td><font face="vazir" size=3>owner_name</font></td>
<td><font face="vazir" size=3>اسم صاحب پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>follower</font></td>
<td><font face="vazir" size=3>تعداد دنبال‌کنندگان پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>following</font></td>
<td><font face="vazir" size=3>تعداد دنبال‌شوندگان توسط پیج</font></td>
</tr>
<tr>
<td><font face="vazir" size=3>post_number</font></td>
<td><font face="vazir" size=3>تعداد پست‌های پیج</font></td>
</tr>
</table>
</p>

In [ ]:
df = joblib.load('./data/gram/df')

In [ ]:
# TODO

<div style="display:block" direction=rtl align=right>
    <h1 dir=rtl style="direction:rtl; text-align:right; line-height:200%; font-family:vazir; font-size:medium; color:#00999c; font-size:1.5em; font-weight: bold;">Pandas سوال - ۳</h1>
</div>

<div style="display:block" direction=rtl align=right>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    در این  مجموعه دادگان 
    <code>goodreads</code>
    در اختیار شما قرار گرفته است.
    <br>
    نمونه‌ای از این دادگان در زیر آمده است:
    </p>
</div>

<table style="display:block;overflow-x:auto;white-space:nowrap">
    <thead>
        <tr>
            <td>bookID</td>
            <td>title</td>
            <td>average_rating</td>
            <td>isbn</td>
            <td>isbn13</td>
            <td>num_pages</td>
            <td>ratings_count</td>
            <td>text_reviews_count</td>
            <td>publication_date</td>
            <td>author_id</td>
            <td>lang_id</td>
            <td>publisher_id</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Harry Potter and the Half-Blood Prince (Harry Potter  #6)</td>
            <td>4.57</td>
            <td>439785960</td>
            <td>9.78044e+12</td>
            <td>652</td>
            <td>2095690</td>
            <td>27591</td>
            <td>9/16/2006</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Harry Potter and the Order of the Phoenix (Harry Potter  #5)</td>
            <td>4.49</td>
            <td>439358078</td>
            <td>9.78044e+12</td>
            <td>870</td>
            <td>2153167</td>
            <td>29221</td>
            <td>9/1/2004</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Harry Potter and the Chamber of Secrets (Harry Potter  #2)</td>
            <td>4.42</td>
            <td>439554896</td>
            <td>9.78044e+12</td>
            <td>352</td>
            <td>6333</td>
            <td>244</td>
            <td>11/1/2003</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)</td>
            <td>4.56</td>
            <td>043965548X</td>
            <td>9.78044e+12</td>
            <td>435</td>
            <td>2339585</td>
            <td>36325</td>
            <td>5/1/2004</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)</td>
            <td>4.78</td>
            <td>439682584</td>
            <td>9.78044e+12</td>
            <td>2690</td>
            <td>41428</td>
            <td>164</td>
            <td>9/13/2004</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
        </tr>
    </tbody>
</table>

In [ ]:
# TODO

<div style="display:block" direction=rtl align=right>
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
نام ستون‌ها را طوری تغییر دهید که جدول نهایی چیزی شبیه به جدول زیر باشد:
    </p>
</div>

<table style="display:block;overflow-x:auto;white-space:nowrap">
       <thead>
         <tr style="text-align: right;">
           <th>bookID</th>
           <th>title</th>
           <th>average_rating</th>
           <th>isbn</th>
           <th>isbn13</th>
           <th>num_pages</th>
           <th>ratings_count</th>
           <th>text_reviews_count</th>
           <th>publication_date</th>
           <th>author</th>
           <th>lang</th>
           <th>publisher</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>Harry Potter and the Half-Blood Prince (Harry ...</td>
           <td>4.57</td>
           <td>439785960</td>
           <td>9.780440e+12</td>
           <td>652</td>
           <td>2095690</td>
           <td>27591</td>
           <td>9/16/2006</td>
           <td>J.K. Rowling</td>
           <td>eng</td>
           <td>Scholastic Inc.</td>
           </tr>
    </tbody>
</table>

In [ ]:
# TODO

---

<div style="display:block" direction=rtl>
    <!-- scipy -->
    <p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    <span style="font-family: vazir; color:#00999c; font-size:1.5em;">
    سوال اول - SciPy:
    در این بخش به دیگر کتابخانه‌های مهم پایتون می‌پردازیم. این کتابخانه‌ها برای انجام محاسبات علمی و مهندسی در پایتون استفاده می‌شوند. به عنوان مثال کتابخانه‌های 
    <code>scipy</code> و <code>sympy</code>. برای اطلاعات بیشتر در مورد این کتابخانه‌ها می‌توانید به <a href="https://www.scipy.org/">اینجا</a> و <a href="https://www.sympy.org/en/index.html">اینجا</a> مراجعه کنید.
    </span>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
ديتافريم قرار داده شده، مجموعه‌ای از دادگان حقوق اساتید دانشگاه است.
گفته می‌شود که دستمزد اساتید خانم از آقایان بیشتر است. با کمک 
<code>T-test</code>
بررسی کنید که آیا این گفته صحیح است یا خیر؟
</p>

In [ ]:
import scipy as sp

In [ ]:
salaries = joblib.load('./data/salaries_df')

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
    <p>
    تعدادی از دادگان را در زیر مشاهده می‌کنید:
    </p>
</div>

<table style="margin-left:auto; margin-right:auto;">
    <thead>
        <tr>
            <td></td>
            <td>rank</td>
            <td>discipline</td>
            <td>phd</td>
            <td>service</td>
            <td>sex</td>
            <td>salary</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Prof</td>
            <td>B</td>
            <td>56</td>
            <td>49</td>
            <td>Male</td>
            <td>186960</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Prof</td>
            <td>A</td>
            <td>12</td>
            <td>6</td>
            <td>Male</td>
            <td>93000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Prof</td>
            <td>A</td>
            <td>23</td>
            <td>20</td>
            <td>Male</td>
            <td>110515</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Prof</td>
            <td>A</td>
            <td>40</td>
            <td>31</td>
            <td>Male</td>
            <td>131205</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Prof</td>
            <td>B</td>
            <td>20</td>
            <td>18</td>
            <td>Male</td>
            <td>104800</td>
        </tr>
    </tbody>
</table>

In [ ]:
# TODO