# Seyed Mohammad Amin Atyabi - 830402014

## 1

### Pre Process

In [68]:
import pandas

employee_data = pandas.read_csv('data/HR-Employee-Attrition.csv')

employee_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobLevel,MaritalStatus,MonthlyRate,NumCompaniesWorked,OverTime,PerformanceRating,WorkLifeBalance,YearsAtCompany
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,2,Single,19479.0,8,Yes,3,1,6
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,2,Married,24907.0,1,No,4,3,10
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,1,Single,2396.0,6,Yes,3,3,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,1,Married,23159.0,1,Yes,3,3,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,1,Married,16632.0,9,No,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,3,Male,2,Married,12290.0,4,No,3,3,5
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,4,Male,3,Married,21457.0,4,No,3,3,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,Male,2,Married,5174.0,1,Yes,4,3,6
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,4,Male,2,Married,13243.0,2,No,3,2,9
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2,Male,2,Married,10228.0,2,No,3,4,4

In [69]:
employee_data.info

<bound method DataFrame.info of       Age Attrition     BusinessTravel  DailyRate              Department
0      41       Yes      Travel_Rarely       1102                   Sales  \
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EnvironmentSatisfaction
0                    1          2  Life Sciences                        2  \
1                    8          1  Life Sciences                        3
2                    2          2          Other                        4
3                    3          4  Life Sciences                        4
4                    2          1        Medical                        1
...                ...        ...            ...                      ...
1465                23          2        Medical                        3
1466                 6          1        Medical                        4
1467                 4          3  Life Sciences                        2
1468                 2          3        Medical                        4
1469                 8          3        Medical                        2

      Gender  JobLevel MaritalStatus  MonthlyRate  NumCompaniesWorked
0     Female         2        Single      19479.0                   8  \
1       Male         2       Married      24907.0                   1
2       Male         1        Single       2396.0                   6
3     Female         1       Married      23159.0                   1
4       Male         1       Married      16632.0                   9
...      ...       ...           ...          ...                 ...
1465    Male         2       Married      12290.0                   4
1466    Male         3       Married      21457.0                   4
1467    Male         2       Married       5174.0                   1
1468    Male         2       Married      13243.0                   2
1469    Male         2       Married      10228.0                   2

     OverTime  PerformanceRating  WorkLifeBalance  YearsAtCompany
0         Yes                  3                1               6
1          No                  4                3              10
2         Yes                  3                3               0
3         Yes                  3                3               8
4          No                  3                3               2
...       ...                ...              ...             ...
1465       No                  3                3               5
1466       No                  3                3               7
1467      Yes                  4                3               6
1468       No                  3                2               9
1469       No                  3                4               4

[1470 rows x 18 columns]>

In [70]:
employee_data.describe()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,JobLevel,MonthlyRate,NumCompaniesWorked,PerformanceRating,WorkLifeBalance,YearsAtCompany
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1436.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,2.721769,2.063946,14301.253482,2.693197,3.153741,2.761224,7.008163
std,9.135373,403.509100,8.106864,1.024165,1.093082,1.106940,7141.338347,2.498009,0.360824,0.706476,6.126525
min,18.000000,102.000000,1.000000,1.000000,1.000000,1.000000,2094.000000,0.000000,3.000000,1.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,2.000000,1.000000,8015.250000,1.000000,3.000000,2.000000,3.000000
50%,36.000000,802.000000,7.000000,3.000000,3.000000,2.000000,14220.000000,2.000000,3.000000,3.000000,5.000000
75%,43.000000,1157.000000,14.000000,4.000000,4.000000,3.000000,20475.500000,4.000000,3.000000,3.000000,9.000000
max,60.000000,1499.000000,29.000000,5.000000,4.000000,5.000000,26999.000000,9.000000,4.000000,4.000000,40.000000

In [71]:
print(abs(employee_data.count() - employee_data['Attrition'].count()))

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                     31
JobLevel                    0
MaritalStatus               0
MonthlyRate                34
NumCompaniesWorked          0
OverTime                    0
PerformanceRating           0
WorkLifeBalance             0
YearsAtCompany              0
dtype: int64

In [72]:
employee_data.loc[employee_data['Gender'].isnull()]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobLevel,MaritalStatus,MonthlyRate,NumCompaniesWorked,OverTime,PerformanceRating,WorkLifeBalance,YearsAtCompany
30,33,No,Travel_Rarely,924,Research & Development,2,3,Medical,3,NaN,1,Single,6670.0,4,No,3,3,1
110,51,No,Travel_Frequently,1456,Research & Development,1,4,Medical,1,NaN,3,Single,25796.0,3,No,4,2,13
167,30,No,Travel_Rarely,1339,Sales,5,3,Life Sciences,2,NaN,3,Married,8053.0,2,No,3,3,10
233,50,No,Travel_Rarely,854,Sales,1,4,Medical,4,NaN,5,Divorced,NaN,3,No,3,2,7
282,29,No,Travel_Frequently,442,Sales,2,2,Life Sciences,2,NaN,2,Single,20260.0,1,No,3,2,10
335,40,No,Travel_Rarely,1124,Sales,1,2,Medical,2,NaN,2,Married,13273.0,2,Yes,4,2,4
365,46,No,Non-Travel,1144,Research & Development,7,4,Medical,3,NaN,2,Married,16044.0,2,No,3,4,1
369,31,No,Travel_Rarely,408,Research & Development,9,4,Life Sciences,3,NaN,1,Single,7551.0,0,Yes,3,3,2
442,36,No,Non-Travel,635,Sales,10,4,Medical,2,NaN,3,Single,15318.0,1,No,3,2,10
456,31,No,Travel_Rarely,688,Sales,7,3,Life Sciences,3,NaN,3,Divorced,25291.0,9,No,4,2,5
552,56,No,Travel_Rarely,832,Research & Development,9,3,Medical,3,NaN,4,Married,20420.0,7,No,3,2,10
650,43,No,Travel_Frequently,422,Research & Development,1,3,Life Sciences,4,NaN,2,Married,21782.0,4,No,3,2,5
712,33,No,Travel_Rarely,461,Research & Development,13,1,Life Sciences,2,NaN,1,Single,17241.0,3,No,3,3,3
713,45,No,Travel_Rarely,974,Research & Development,1,4,Medical,4,NaN,1,Divorced,11005.0,3,No,3,3,5
763,34,No,Travel_Rarely,1333,Sales,10,4,Life Sciences,3,NaN,1,Married,18410.0,1,Yes,3,3,1
803,34,No,Non-Travel,697,Research & Development,3,4,Life Sciences,3,NaN,1,Married,22478.0,3,No,3,3,0
825,29,No,Travel_Rarely,718,Research & Development,8,1,Medical,2,NaN,2,Married,17689.0,1,Yes,3,2,10
904,48,No,Travel_Rarely,715,Research & Development,1,3,Life Sciences,4,NaN,5,Single,8733.0,6,No,3,4,1
961,35,No,Travel_Frequently,482,Research & Development,4,4,Life Sciences,3,NaN,2,Single,2690.0,1,Yes,3,3,9
1010,55,No,Travel_Rarely,1136,Research & Development,1,4,Medical,2,NaN,4,Divorced,12414.0,2,No,3,4,7
1096,40,No,Travel_Rarely,898,Human Resources,6,2,Medical,3,NaN,4,Single,17381.0,1,Yes,4,3,21
1097,24,No,Travel_Rarely,350,Research & Development,21,2,Technical Degree,3,NaN,1,Divorced,10036.0,0,No,3,3,1
1130,35,No,Travel_Rarely,750,Research & Development,28,3,Life Sciences,2,NaN,2,Married,25348.0,1,No,3,2,10
1182,36,No,Non-Travel,894,Research & Development,1,4,Medical,4,NaN,2,Married,15411.0,0,No,3,3,3
1265,33,No,Non-Travel,775,Research & Development,4,3,Technical Degree,4,NaN,2,Divorced,6194.0,5,No,3,2,9
1303,47,No,Travel_Rarely,1001,Research & Development,4,3,Life Sciences,3,NaN,3,Divorced,19271.0,8,Yes,3,3,22
1305,54,No,Travel_Rarely,431,Research & Development,7,4,Medical,4,NaN,2,Married,15696.0,4,No,3,2,7
1348,40,No,Travel_Rarely,1137,Research & Development,1,4,Life Sciences,1,NaN,4,Divorced,18991.0,2,No,3,3,19
1409,40,No,Travel_Frequently,692,Research & Development,11,3,Technical Degree,4,NaN,2,Married,26849.0,1,No,3,4,10
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,3,NaN,1,Married,NaN,1,No,3,3,4
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,4,NaN,2,Married,23679.0,4,Yes,3,3,4

In [73]:
import random

employee_data.loc[employee_data["Gender"].isnull(), "Gender"] = random.choice(['Male', 'Female'])
employee_data.loc[employee_data['Gender'].isnull()]

Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EnvironmentSatisfaction, Gender, JobLevel, MaritalStatus, MonthlyRate, NumCompaniesWorked, OverTime, PerformanceRating, WorkLifeBalance, YearsAtCompany]
Index: []

In [74]:
employee_data.loc[employee_data['MonthlyRate'].isnull()]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobLevel,MaritalStatus,MonthlyRate,NumCompaniesWorked,OverTime,PerformanceRating,WorkLifeBalance,YearsAtCompany
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,2,Female,3,Divorced,NaN,1,No,3,3,10
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,4,Male,3,Single,NaN,1,No,3,3,9
84,34,No,Travel_Rarely,1153,Research & Development,1,2,Medical,1,Male,2,Married,NaN,1,No,3,3,5
112,54,No,Non-Travel,142,Human Resources,26,3,Human Resources,4,Female,4,Single,NaN,2,Yes,3,3,5
152,53,No,Travel_Rarely,1436,Sales,6,2,Marketing,2,Male,2,Married,NaN,2,Yes,4,1,7
185,33,No,Travel_Rarely,931,Research & Development,14,3,Medical,4,Female,1,Married,NaN,1,No,3,3,8
211,30,No,Non-Travel,829,Research & Development,1,1,Life Sciences,3,Male,3,Single,NaN,1,No,4,3,11
233,50,No,Travel_Rarely,854,Sales,1,4,Medical,4,Female,5,Divorced,NaN,3,No,3,2,7
303,31,No,Travel_Rarely,218,Sales,7,3,Technical Degree,2,Male,2,Married,NaN,4,No,3,2,8
358,36,No,Non-Travel,845,Sales,1,5,Medical,4,Female,2,Single,NaN,4,No,3,3,1
416,38,No,Travel_Frequently,1490,Research & Development,2,2,Life Sciences,4,Male,1,Married,NaN,1,Yes,4,3,1
447,35,No,Travel_Rarely,619,Sales,1,3,Marketing,2,Male,2,Married,NaN,9,No,3,3,11
477,50,No,Travel_Frequently,1246,Human Resources,3,3,Medical,1,Male,5,Married,NaN,1,No,3,3,32
506,37,No,Travel_Rarely,482,Research & Development,3,3,Other,3,Male,3,Married,NaN,1,No,3,3,10
556,53,No,Travel_Rarely,346,Research & Development,6,3,Life Sciences,4,Male,2,Single,NaN,2,No,3,3,2
611,35,No,Travel_Rarely,950,Research & Development,7,3,Other,3,Male,3,Single,NaN,3,No,4,4,8
644,31,No,Travel_Rarely,1222,Research & Development,11,4,Life Sciences,4,Male,1,Married,NaN,3,Yes,3,3,6
699,52,No,Travel_Rarely,1053,Research & Development,1,2,Life Sciences,4,Male,4,Married,NaN,2,No,3,2,9
740,35,No,Travel_Rarely,802,Research & Development,10,3,Other,2,Male,1,Divorced,NaN,1,No,4,2,3
818,31,No,Travel_Frequently,793,Sales,20,3,Life Sciences,3,Male,1,Married,NaN,0,No,3,3,2
852,29,No,Travel_Rarely,1401,Research & Development,6,1,Medical,2,Female,1,Married,NaN,1,No,3,3,10
889,27,No,Travel_Rarely,1103,Research & Development,14,3,Life Sciences,1,Male,1,Married,NaN,1,Yes,3,2,9
972,18,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,4,Female,1,Single,NaN,1,No,3,4,0
1008,54,No,Travel_Rarely,971,Research & Development,1,3,Medical,4,Female,4,Single,NaN,6,No,3,2,20
1048,34,No,Travel_Rarely,1326,Sales,3,3,Other,4,Male,2,Single,NaN,3,No,3,3,13
1152,21,No,Travel_Rarely,546,Research & Development,5,1,Medical,3,Male,1,Single,NaN,1,No,3,3,2
1155,39,No,Travel_Rarely,170,Research & Development,3,2,Medical,3,Male,2,Divorced,NaN,0,No,3,3,10
1198,33,No,Non-Travel,530,Sales,16,3,Life Sciences,3,Female,2,Divorced,NaN,1,Yes,4,3,6
1229,40,No,Travel_Rarely,369,Research & Development,8,2,Life Sciences,2,Female,2,Married,NaN,2,Yes,3,3,1
1247,31,No,Travel_Rarely,1003,Sales,5,3,Technical Degree,1,Male,2,Married,NaN,1,No,3,3,5
1364,28,No,Travel_Frequently,783,Sales,1,2,Life Sciences,3,Male,2,Married,NaN,1,Yes,3,3,7
1371,56,No,Travel_Rarely,1443,Sales,11,5,Marketing,4,Female,2,Married,NaN,4,No,3,3,0
1424,35,No,Travel_Rarely,1395,Research & Development,9,4,Medical,2,Male,2,Single,NaN,1,No,3,3,10
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,3,Female,1,Married,NaN,1,No,3,3,4

In [75]:
employee_data.loc[employee_data["MonthlyRate"].isnull(), "MonthlyRate"] = employee_data['MonthlyRate'].mean()
employee_data.loc[employee_data['MonthlyRate'].isnull()]

Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EnvironmentSatisfaction, Gender, JobLevel, MaritalStatus, MonthlyRate, NumCompaniesWorked, OverTime, PerformanceRating, WorkLifeBalance, YearsAtCompany]
Index: []

### OneRule Algorithm Implementation

In [86]:
class OneRule:

    def __init__(self):
        self.max_accuracy = 0
        self.ideal_feature = None
        self.ideal_value = None
        self.being_feature = True
        self.grater_than = None
        self.label_name = None

    def __repr__(self):
        if self.ideal_feature is not None:
            if self.grater_than is None:
                if self.being_feature:
                    return f'Best feature found is {self.ideal_feature} where value is {self.ideal_value}'
                else:
                    return f'Best feature found is {self.ideal_feature} where value is not {self.ideal_value}'
            else:
                if self.being_feature:
                    if self.grater_than:
                        return f'Best feature found is {self.ideal_feature} where value is grater than {self.ideal_value}'
                    else:
                        return f'Best feature found is {self.ideal_feature} where value is less than {self.ideal_value}'
                else:
                    if self.grater_than:
                        return f'Best feature found is {self.ideal_feature} where value is less than {self.ideal_value}'
                    else:
                        return f'Best feature found is {self.ideal_feature} where value is grater than {self.ideal_value}'
        else:
            return 'No best feature found'

    def fit(self, data: pandas.DataFrame, label_name: str, print_log: bool):
        self.label_name = label_name
        total_length = len(data)
        for attribute in data.columns:
            if attribute == label_name:
                continue
            for value in set(data[attribute]):

                if data[attribute].dtype.name == 'object':

                    class_frequency = data.loc[data[attribute] == value][label_name].value_counts().sort_values()
                    yes = class_frequency['Yes']
                    no = class_frequency['No']
                    most_frequent_class = yes
                    being_feature = True
                    if no > yes:
                        most_frequent_class = no
                        being_feature = False

                    count = most_frequent_class
                    for row in data.iterrows():
                        if being_feature:
                            if (row[1][attribute] != value) and (row[1][label_name] == 'No'):
                                count += 1
                        else:
                            if (row[1][attribute] != value) and (row[1][label_name] == 'Yes'):
                                count += 1

                    accuracy = (count / total_length)

                    if print_log:
                        if being_feature:
                            print(f'If {attribute} is {value} then accuracy is {accuracy}')

                        else:
                            print(f'If {attribute} is not {value} then accuracy is {accuracy}')

                    if accuracy > self.max_accuracy:
                        self.max_accuracy = accuracy
                        self.ideal_feature = attribute
                        self.ideal_value = value
                        self.being_feature = being_feature

                else:
                    class_frequency_gt = data.loc[data[attribute] >= value][label_name].value_counts().sort_values()
                    class_frequency_lt = data.loc[data[attribute] < value][label_name].value_counts().sort_values()

                    yes_gt = 0
                    no_gt = 0
                    most_frequent_class_gt = 0

                    yes_lt = 0
                    no_lt = 0
                    most_frequent_class_lt = 0

                    if len(class_frequency_gt) != 0:
                        if 'Yes' in class_frequency_gt:
                            yes_gt = class_frequency_gt['Yes']
                        if 'No' in class_frequency_gt:
                            no_gt = class_frequency_gt['No']
                        most_frequent_class_gt = yes_gt
                        if no_gt > yes_gt:
                            most_frequent_class_gt = no_gt

                    if len(class_frequency_lt) != 0:
                        if 'Yes' in class_frequency_lt:
                            yes_lt = class_frequency_lt['Yes']
                        if 'No' in class_frequency_lt:
                            no_lt = class_frequency_lt['No']
                        most_frequent_class_lt = yes_lt
                        if no_lt > yes_lt:
                            most_frequent_class_lt = no_lt

                    grater_than = True
                    being_feature = True
                    most_frequent_class = yes_gt
                    if most_frequent_class_gt < most_frequent_class_lt:
                        grater_than = False
                        most_frequent_class = yes_lt
                        if no_lt > yes_lt:
                            being_feature = False
                            most_frequent_class = no_lt
                    else:
                        if no_gt > yes_gt:
                            being_feature = False
                            most_frequent_class = no_gt

                    count = most_frequent_class
                    for row in data.iterrows():
                        if being_feature:
                            if grater_than:
                                if (row[1][attribute] < value) and (row[1][label_name] == 'No'):
                                    count += 1
                            else:
                                if (row[1][attribute] >= value) and (row[1][label_name] == 'No'):
                                    count += 1
                        else:
                            if grater_than:
                                if (row[1][attribute] < value) and (row[1][label_name] == 'Yes'):
                                    count += 1
                            else:
                                if (row[1][attribute] >= value) and (row[1][label_name] == 'Yes'):
                                    count += 1

                    accuracy = (count / total_length)

                    if print_log:
                        if being_feature:
                            if grater_than:
                                print(f'If {attribute} grater than {value} then accuracy is {accuracy}')
                            else:
                                print(f'If {attribute} less than {value} then accuracy is {accuracy}')
                        else:
                            if grater_than:
                                print(f'If {attribute} grater than {value} then accuracy is {accuracy}')
                            else:
                                print(f'If {attribute} less than {value} then accuracy is {accuracy}')

                    if accuracy > self.max_accuracy:
                        self.max_accuracy = accuracy
                        self.ideal_feature = attribute
                        self.ideal_value = value
                        self.being_feature = being_feature
                        self.grater_than = grater_than

    def predict(self, data: pandas.DataFrame):
        prediction = []

        for row in data.iterrows():
            feature_value = row[1][self.ideal_feature]
            if self.grater_than is None:
                if self.being_feature:
                    if feature_value == self.ideal_value:
                        prediction.append('Yes')
                    else:
                        prediction.append('No')
                else:
                    if feature_value == self.ideal_value:
                        prediction.append('No')
                    else:
                        prediction.append('Yes')
            else:
                if self.being_feature:
                    if self.grater_than:
                        if feature_value >= self.ideal_value:
                            prediction.append('Yes')
                        else:
                            prediction.append('No')
                    else:
                        if feature_value >= self.ideal_value:
                            prediction.append('No')
                        else:
                            prediction.append('Yes')
                else:
                    if self.grater_than:
                        if feature_value >= self.ideal_value:
                            prediction.append('No')
                        else:
                            prediction.append('Yes')
                    else:
                        if feature_value >= self.ideal_value:
                            prediction.append('Yes')
                        else:
                            prediction.append('No')

        return prediction

    def evalutae(self, actual, prediction):
        total_length = len(actual)

        tp = 0
        fp = 0
        tn = 0
        fn = 0

        for ac, pred in zip(actual, prediction):
            if ac == pred:
                if ac == 'No':
                    tn += 1
                else:
                    tp += 1
            else:
                if pred == 'No':
                    fn += 1
                else:
                    fp += 1

        print('                                Prediction Class')
        print('                         Positive       Negative')
        print(f'Actual       Positive      {tp}           {fn}')
        print(f'Class        Negative      {fp}           {tn}')

        accuracy = (tp + tn) / total_length
        precision = tp / (tp + fp)
        recall = tp / (tp + fn)
        f1 = 2 * ((precision * recall) / (precision + recall))
        fpr = fp / (fp + tn)
        tpr = tp / (tp + fn)

        print()
        print(f'Accuracy = {accuracy}')
        print(f'Precision = {precision}')
        print(f'Recall = {recall}')
        print(f'F1 score = {f1}')
        print(f'FPR = {fpr}')
        print(f'TPR = {tpr}')

In [81]:
one_rule = OneRule()
one_rule.fit(employee_data, 'Attrition', False)
print(one_rule)

Best feature found is Age where value is less than 21

In [82]:
employee_data_pred = one_rule.predict(employee_data)
print(employee_data_pred)

['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']

In [90]:
one_rule.evalutae(list(employee_data['Attrition']), employee_data_pred)

                                Prediction Class
                          Positive        Negative
Actual       Positive      16           221
Class        Negative      12           1221

Accuracy = 0.8414965986394558
Precision = 0.5714285714285714
Recall = 0.06751054852320675
F1 score = 0.12075471698113206
FPR = 0.009732360097323601
TPR = 0.06751054852320675

### Dataset Overview

### Evaluation