In [19]:
# Seyed Mohammad Amin Atyabi - 830402014

## 1

### Pre Process

In [20]:
import pandas

employee_data = pandas.read_csv('data/HR-Employee-Attrition.csv')

employee_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobLevel,MaritalStatus,MonthlyRate,NumCompaniesWorked,OverTime,PerformanceRating,WorkLifeBalance,YearsAtCompany
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,2,Single,19479.0,8,Yes,3,1,6
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,2,Married,24907.0,1,No,4,3,10
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,1,Single,2396.0,6,Yes,3,3,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,1,Married,23159.0,1,Yes,3,3,8
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,1,Married,16632.0,9,No,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,3,Male,2,Married,12290.0,4,No,3,3,5
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,4,Male,3,Married,21457.0,4,No,3,3,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,Male,2,Married,5174.0,1,Yes,4,3,6
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,4,Male,2,Married,13243.0,2,No,3,2,9
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2,Male,2,Married,10228.0,2,No,3,4,4

In [21]:
# print(employee_data.info)
employee_data.info

<bound method DataFrame.info of       Age Attrition     BusinessTravel  DailyRate              Department
0      41       Yes      Travel_Rarely       1102                   Sales  \
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EnvironmentSatisfaction
0                    1          2  Life Sciences                        2  \
1                    8          1  Life Sciences                        3
2                    2          2          Other                        4
3                    3          4  Life Sciences                        4
4                    2          1        Medical                        1
...                ...        ...            ...                      ...
1465                23          2        Medical                        3
1466                 6          1        Medical                        4
1467                 4          3  Life Sciences                        2
1468                 2          3        Medical                        4
1469                 8          3        Medical                        2

      Gender  JobLevel MaritalStatus  MonthlyRate  NumCompaniesWorked
0     Female         2        Single      19479.0                   8  \
1       Male         2       Married      24907.0                   1
2       Male         1        Single       2396.0                   6
3     Female         1       Married      23159.0                   1
4       Male         1       Married      16632.0                   9
...      ...       ...           ...          ...                 ...
1465    Male         2       Married      12290.0                   4
1466    Male         3       Married      21457.0                   4
1467    Male         2       Married       5174.0                   1
1468    Male         2       Married      13243.0                   2
1469    Male         2       Married      10228.0                   2

     OverTime  PerformanceRating  WorkLifeBalance  YearsAtCompany
0         Yes                  3                1               6
1          No                  4                3              10
2         Yes                  3                3               0
3         Yes                  3                3               8
4          No                  3                3               2
...       ...                ...              ...             ...
1465       No                  3                3               5
1466       No                  3                3               7
1467      Yes                  4                3               6
1468       No                  3                2               9
1469       No                  3                4               4

[1470 rows x 18 columns]>

In [22]:
# print(employee_data.describe())
employee_data.describe()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,JobLevel,MonthlyRate,NumCompaniesWorked,PerformanceRating,WorkLifeBalance,YearsAtCompany
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1436.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,2.721769,2.063946,14301.253482,2.693197,3.153741,2.761224,7.008163
std,9.135373,403.509100,8.106864,1.024165,1.093082,1.106940,7141.338347,2.498009,0.360824,0.706476,6.126525
min,18.000000,102.000000,1.000000,1.000000,1.000000,1.000000,2094.000000,0.000000,3.000000,1.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,2.000000,1.000000,8015.250000,1.000000,3.000000,2.000000,3.000000
50%,36.000000,802.000000,7.000000,3.000000,3.000000,2.000000,14220.000000,2.000000,3.000000,3.000000,5.000000
75%,43.000000,1157.000000,14.000000,4.000000,4.000000,3.000000,20475.500000,4.000000,3.000000,3.000000,9.000000
max,60.000000,1499.000000,29.000000,5.000000,4.000000,5.000000,26999.000000,9.000000,4.000000,4.000000,40.000000

In [27]:
# print(employee_data.count())
print(abs(employee_data.count() - employee_data['Attrition'].count()))

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                     31
JobLevel                    0
MaritalStatus               0
MonthlyRate                34
NumCompaniesWorked          0
OverTime                    0
PerformanceRating           0
WorkLifeBalance             0
YearsAtCompany              0
dtype: int64

### OneRule Algorithm Implementation

### Dataset Overview

### Evaluation